* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif !important;
    color: #bc9272 !important;
}

.nav {
    background: white;
    color: #bc9272;
    position: fixed;
    top: 0;
    z-index: 1035;
    justify-content: center;
}

.container-fluid {
    padding: 0 !important;
}

.navright {
    margin-top: 18px;

}

.nav a {
    color: #bc9272 !important;
}

.boxshadow {
    box-shadow: 0 3px 8px 3px rgba(177, 177, 177, 0.3);
}

.logo {
    width: 100%;
}

.collapsing a {
    color: #bc9272 !important;
    text-decoration: none !important;
    font-size: 20px;
    line-height: 42px;
    padding: 10px 20px;

}

.collapse a {
    color: #bc9272 !important;
    padding: 10px 20px;
    text-decoration: none !important;

    font-size: 20px;
    line-height: 42px;

}

.list a {
    color: #bc9272 !important;
    transition: color 0.5s;
    font-size: 20px;
    line-height: 42px;
    padding: 10px 20px;
}

.logo {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}

.navbar {
    justify-content: space-around;
    background: white;
}

.bar a {
    margin-left: 20px;
}

.row {
    margin: 0 !important;
}

.nicon {
    font-size: 1.3rem;
    margin-left: 30px;
}

.nicon i {
    margin-left: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0px 80px;
}

.column img {
    margin-top: 20px;
    width: 100%;
}

.column a {
    color: #bc9272 !important;
}

.title {
    font-weight: 600;
    margin: 28px 0 10px 0;
}

.main {
    padding-top: 149px;
    color: #bc9272;
}

.main .container-fluid {
    padding: 0 30px;
}

.explain1 {
    position: fixed;
    width: 300px;
}

.explain1 p {
    font-size: 20px;
}

.explain1 ul {
    list-style: none;
    text-align: left;
    border: 1px solid #bc9272;
    padding-right: 0px;
    margin-top: 20px;
    padding: 0 !important;

}

.explain1 li {
    list-style: none;
    text-align: left;
    text-align: center;
    cursor: pointer;
    font-size: 20px !important;
    margin: 0 !important;
}

.explain1 li:hover {
    background: #bc9272;
    color: white;
}

.explain1 ul i {
    margin-left: 220px;
}

ul p {
    margin: 0 !important;
    font-size: 15px;
    padding: 5px;
}

.select {
    margin-top: 60px
}

.select span {
    letter-spacing: 0.5rem;
    cursor: pointer;

}

.selectba {
    background-color: #bc9272;
    color: white;
}

.color {
    margin-top: 10px !important;
}

.border1 {
    padding: 5px;
    border: 2px solid rgb(194, 194, 194);
}

.borderw {
    padding: 5px;
    border: 2px solid #bc9272;
}

.color div {
    margin: 5px;

}

.color .border:nth-child(1) {
    margin-left: 0px;
}

.milktea {
    background: wheat;
    width: 25px;
    height: 25px;
}

.black {
    background: black;
    width: 25px;
    height: 25px;
}

.white {
    background: rgb(247, 239, 223);
    width: 25px;
    height: 25px;
}


.cbtn {
    color: white;
    background: #bc9272;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.scription {
    border-bottom: #bc9272 1px solid;
    padding: 10px 0;
}


.scription .title1,
.title2 {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.scription p {
    font-size: 0.8rem;
}


.footer {
    margin-top: 50px;
    border-top: 2px solid #bc9272;
    padding: 30px 0;
}

.footer p {
    margin: 10px 0;
}

.footer i {
    font-size: 1.3rem;
}

.input {
    border: none;
    border-bottom: #bc9272 1px solid;
    height: 13px;
    margin-left: 10px;
}

.input:focus {
    outline: none;
}

.top {
    transition: top ease-in 0.3s;
    top: 10px;
}

.modal-body {
    padding-left: 20px !important;
}

.modal-content {
    width: 850px !important;
}

.modal-content,
.modal-content i {
    background: #bc9272 !important;
    color: white;
}

.modal-header {
    border: none !important;
    color: white !important;
}

.modal-body p {
    font-size: 0.9rem;
    padding-right: 85px;
    padding-top: 20px;
    line-height: 1.5rem;
}

tr,
td {
    padding: 5px;
    border: 1px white solid;
    white-space: nowrap;
    text-align: center;
}

.modal-footer {
    display: flex;
}

.modal-footer {
    justify-content: flex-start !important;
    padding: 10px 20px !important;
    border-top: none !important;
    font-size: 1rem;
}

.modal-footer ul {
    list-style: none;
    padding: 0;
    font-size: 1rem;
}

th,
tr {
    font-weight: 400 !important;
    font-size: 0.7rem !important;
}

.bt-2 {
    border-top: 1px solid white;
    padding-top: 10px !important;
}

@media (max-width:768px) {
    .nav {
        justify-content: space-between;
    }

    .navbar {
        margin-left: auto;
    }

    .mdimg {
        display: none;
    }

    .bar {
        display: none;
    }

    .logo {
        margin-left: 20px;
        width: auto;
    }

    .explain1 {
        margin-top: 50px;
        position: unset;
        width: 100%;
    }

    .btn {
        z-index: 1500;
        ;
    }

}

@media (min-width:768px) {
    .img {
        display: none;
    }

    .btn {
        display: none !important;
    }

}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px !important;
        margin: 1.75rem auto;
    }
}