* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    padding: 0;
    background-image: url(/t_images/FMA0119-POR.png);
}

.nav1 {
    color: #bc9272;;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width:45%;
}

.navbar1{
    margin-top: 10px;
}
.navbar1 a {
    color: #bc9272;;
    margin-left: 20px;
}

.information{
    width:50%;
    padding: 50px 100px 0 150px;
}
.information .title{
    font-size: 55px;
    font-weight:700;
    color:#8d6d55;
}
input[type=checkbox] {
    margin-right: 5px;
    cursor: pointer;
    font-size: 19px;
    width: 20px;
    height: 20px;
    position: relative;
  }
  
  input[type=checkbox]:after {
    position: absolute;
    width: 20px;
    height: 20px;
    content: " ";
    border: #8d6d55 1px solid;
    background: #fff;
    color: #fff;
    visibility: visible;
    padding: 0px 3px;
    border-radius: 2px;
    line-height: 19px;
  }
  
  input[type=checkbox]:checked:after {
    content: "✓";
    font-size: 19px;
    background-color: #8d6d55;
  }
.style_checkbox input{

}


