*{
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color:rgb(155, 118, 70);
}
.full-width{
    width:100%;
    padding: 40px 0;
    clear:both;
}
.fixed-width{
    width:1280px;
    margin:auto;
}

.header{
    background-color: rgb(211, 170, 117);
}
.header ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header li{
    float: left;
    margin-right: 30px;
}

.header a{
    color: rgb(248, 230, 206);
    text-decoration: none;
}
.header a:hover{
    color:rgb(114, 86, 75);
    transition: color 0.3s;
}






div.img{
    width:480px;
    overflow: hidden;
    float: left;
    /* background-color: tan; */
    margin:6px 35px 6px 0;
}
div.img img{
    width:100%;
}

p{
    line-height: 1.8rem;
    text-indent: 2rem;
}


#da{
    background-color: cornsilk;
}
#db{
    background-color: rgb(231, 208, 172);
}
#dc{
    background-color: rgb(214, 182, 145);
}
#dd{
    background-color: rgb(253, 222, 193);
}
#de{
    background-color: wheat;
}
.footer{
    text-align: center;
    font-size:0.8rem;
    line-height: 42px;
    
}

.top{
    width:80px;
    height:80px;
    line-height: 80px;
    position: fixed;
    bottom:40px;
    right:40px;
    text-align: center;
}

.top a{
    display:block;
    text-decoration: none;
    background-color: rgba(165, 92, 74, 0.3);
    text-transform: uppercase;
    font-size: 1.6rem;
    color: tan;
    transition: background-color 0.3s;
}
.top a:hover{
    background-color: rgba(83, 46, 37, 0.3);
    transition: background-color 0.3s;
    
}
.top_show{
    bottom:40px !important;
    transition: bottom 0.6s;
}
/* images hover */
#da div.img a{
    opacity: 0.6;
}

.img_scale{
    transition: all 0.3s;
}

.img_scale:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}
#dc .img a{
    background-image: url(images/1227.png);
    background-repeat: no-repeat;
    background-position: center center;
    display:inline-block;
    width:480px;
    height:480px;
}
#dd .img a{
    background-image: url(images/eb2672df2a535c9898f96c7d8013a6e0.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    display:inline-block;
    width:480px;
    height:480px;
}
#dd .img img{
    opacity: 0;
}
#de .img{
    height:362px;
    width:240px;
}